@model List<ResultTestimonialDto>
@{
	ViewData["Title"] = "TestimonialList";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<section class="section">
	<div class="section-body">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
						<h4>Testimonials' List</h4>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Title</th>
									<th scope="col">Comment</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th scope="row">@count</th>
										<td>@item.NameSurname</td>
										<td>@item.Title</td>
										<td>@item.Comment</td>
										<td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId/" class="btn btn-outline-danger">Delete</a> </td>
										<td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId/" class="btn btn-outline-success">Update</a> </td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Testimonial/CreateTestimonial/" class="btn btn-outline-info">Add New Testimonials</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

