
@{
    ViewData["Title"] = "CreateRecipeWithOpenAI";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
	<div class="section-body">
		<div class="row">
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
						<h4>Recipe Recommendations by OpenAI</h4>
					</div>
					<div class="card-body">
						<form method="post">
							<label>Put your ingredients here: </label>
							<input type="text" name="prompt" class="form-control" />
							<br />
							<button class="btn btn-outline-primary">Create the Recipe</button>
						</form>
						<br />
						<br />
						@if (ViewBag.recipe != null)
						{
							<hr />
							<h5>Created AI Recipe Recommendation</h5>
							@Html.Raw(ViewBag.recipe.ToString())
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


