@model List<ResultAboutDto>
<section id="about" class="about section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>About Us<br></h2>
		<p><span>Learn More</span> <span class="description-title">About Us</span></p>
	</div><!-- End Section Title -->

	<div class="container">
        @foreach (var item in Model)
        {
            <div class="row gy-4">
                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <img src="@item.ImageUrl" class="img-fluid mb-4 about-main-img" alt="">
                    <div class="book-a-table">
                        <h3>Book a Table</h3>
                        <p>@item.ReservationNumber</p>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                    <div class="content ps-0 ps-lg-5">

                        <p class="fst-italic">
                            @item.Description
                        </p>

                        <ul>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                <span>A unique experience crafted with years of expertise.</span>
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Traditional recipes meet modern culinary techniques.</span>
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Uncompromising standards of hygiene and quality.</span>
                            </li>
                        </ul>

                        <p>
                            We strive to bring more than just satisfying plates to your table;
                            we provide delightful conversations and a warm atmosphere.
                        </p>

                        <div class="position-relative mt-4">
                            <img src="/yummy-red-1.0.0/assets/img/about-2.jpg" class="img-fluid" alt="">
                            <a href="@item.VideoUrl" class="glightbox pulsating-play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>
        }
		
	</div>

</section>
